body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    margin: 0;
    justify-content: space-between;
    display: flex;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.nav-link a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.main {
    padding: 20px;
}

.card {
    width: 300px;
    height: 200px;
    background: #e6e6e6;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
}

.fix-box{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btn {
    background-color: #0d55b5;
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}